*{
    font-family: "Outfit", sans-serif ;
    font-size: 15px;
}

.qr-code{
    height:320px;
    width: 200px;
    background-color: hsl(0, 0%, 100%);
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    
}
body{
    background-color : #D5E1EF;
}

.qr-code img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
}
.qr-code p{
    font-weight: 400;
    font-size: 14px;
    color: hsl(220, 15%, 55%) ;
}
.qr-code h2{
    font-weight: 700;
    font-size: 15px;
    color: hsl(218, 44%, 22%);
}
.text{
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}